body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
* {
        box-sizing: border-box;
}


.header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
        display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}

p,h1,h2,h3,h4,h5,h6 {
        margin-top: 0;
        margin-bottom: 0;
}

.container {
        max-width: 320px;
        padding: 0 16px;
        margin: 0 auto;
}
.header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.header-nav {
        display: flex;
        align-items: center;

}
.header-menu-list {
        display: none;
        /* display: flex; */
        /* gap: 40px; */
}


.contacts-list {
        display: none;
        /* display: flex; */
        /* gap: 40px; */
}
.open-menu-btn {
        padding: 0;
        line-height: 0;
        background-color: transparent;
        cursor: pointer;
        border: none;
}

.header-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        /* margin-right: 76px; */
        padding: 17px 0;
}
.header-logo-black {
        color: #2e2f42;
}

.studio-link {
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-link::after {
        display: block;
        content: "";
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mob-menu {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        padding: 24px 24px 40px 16px;
        display: flex;
        flex-direction: column;
        overflow: auto;
}
.close-menu-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        padding: auto;
        cursor: pointer;
        border: 1px solid stroke: rgba(0, 0, 0, 0.1);
        background-color: #e7e9fc;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
        border: 1px solid rgba(0, 0, 0, 0.1); 
        padding: 0;
}
.mob-menu-list {
        margin-top: 72px;
}
.mob-menu-item:not(:last-child) {
        margin-bottom: 40px;
}
.mob-menu-link {
        font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
color: #2e2f42;
}
.mob-menu-link:hover,
.mob-menu-link:focus {
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-link {
}
.mob-menu-box{
        margin-top: auto;
}
.mob-contacts {
        
}
.mob-contacts-list {
}
.mob-contacts-list-item {
}
.mob-contacts-list-link {
        font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
}
.mob-contacts-list-item:not(:last-child) {
        margin-bottom: 24px;
}
.mob-contacts-list-link:hover,
.mob-contacts-list-link:focus {
        color: #4d5ae5;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-icon-list {
        display: flex;
        gap: 24px;
        justify-content: space-between;
        align-items: center;
        margin-top: 48px;    
}
.mob-icon-item {
        width: 40px;
        height: 40px;
}
.mob-icon-link {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #f4f4fd;
        background-color: #4d5ae5;
        width: 100%;
        height: 100%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-icon {
        fill: #f4f4fd;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-icon-link:focus,
.mob-icon-link:hover {
        background-color: #404bbf;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



address {font-style: normal}


.section-one {
    background: #2e2f42;
    /* padding: 188px 0; */
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: auto;

}

.section-one-container {

}

.title {
        font-weight: 700;
        /* font-size: 56px; */
        font-size: 36px;
        /* line-height: 1.07; */
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        /* margin-bottom: 48px; */
        margin-bottom: 72px;
        max-width: 216px;
        margin-right: auto;
        margin-left: auto;

        
}
.title-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
border-radius: 4px;
border: none;
padding: 16px 32px;
margin-right: auto;
margin-left: auto;
display: block;
min-width: 169px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.title-button:hover {
background-color: #404BBF;
}
.title-button:active {
background-color: #404BBF;
}
.title-button:focus {
        background-color: #404BBF;
}

.section-features {
/* padding-top: 120px;
padding-bottom: 120px; */
padding-top: 96px;
padding-bottom: 96px;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.features-list {
display: flex;
flex-wrap: wrap;
/* gap: 24px; */
gap: 72px;
}

.features-icon {
        display: none;
        /* fill: #2e2f42;
        display: flex;
        margin-bottom: 8px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        justify-content: center;
        align-items: center;
        background-color: #f4f4fd; */
}

.features-sub-title {
        /* font-weight: 500;
        font-size: 20px;
        line-height: 1.2; */
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        text-align: center;
}

.features-text{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.features-item {
        /* width: calc((100% - 3 * 24px) / 4); */
}
        .team {
    background: #f4f4fd;
}

.team {
/* padding: 120px 0 120px; */
padding: 96px 0 96px;
}

.team-container {
        width: 296px;
}

.team-sub-text {
        padding: 32px 0
}

.team-list {
        display: flex;
        flex-wrap: wrap;
        /* gap: 24px; */
        gap: 72px;
}
.team-item {
        background-color: #FFFFFF;
        border-radius: 0 0 4px 4px;
        /* width: calc((100% - 72px) / 4); */
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.team-sub-title {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}
.team-text{
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.team-img {
        margin: 0 auto;
}

.team-icon-item {
        width: 40px;
        height: 40px;
}

.team-icon-list {
display: flex;
gap: 24px;
justify-content: center;
align-items: center;
margin-top: 8px;
}

.team-icon {
fill: #f4f4fd;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #f4f4fd;
        background-color: #4d5ae5;
        width: 100%;
        height: 100%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:focus,
.team-icon-link:hover {
        background-color: #404bbf;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
/* padding-top: 120px;
padding-bottom: 120px; */
padding-top: 96px;
padding-bottom: 96px;
}

.portfolio-container {
border-top: none;
}

.portfolio-list {
display: flex;
flex-wrap: wrap;
/* gap: 48px 24px; */
gap: 48px;
}

.portfolio-item {
        /* width: calc((100% - 48px) / 3); */
        width: 100%;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay-text {
        transform: translateY(0);
}
.portfolio-item:hover .portfolio-sub-text {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}    

.portfolio-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.portfolio-sub-text {
        border: 1px solid #e7e9fc;
        box-sizing: border-box;
        padding: 32px 16px;
        border-top: none;
}
.portfolio-img {
        margin: 0 auto;
}
.portfolio-sub-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 8px;
}
.portfolio-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.portfolio-picture {
        /* width: 360px;
        height: 300px; */
        width: 288px;
        height: 280px;
        margin: 0 auto;
        background-color: #4d5ae5;
        position: relative;
        overflow: hidden;



}
.overlay-text {
        position: absolute;
        top: 0;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        background: #4d5ae5;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
        background: #2e2f42;
        padding: 96px 16px;
        text-align: center;
    }
    
    .footer-container {
        margin-bottom: 72px; /* Отступ в 72px */
    }
    
    .footer-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-bottom: 16px;
        display: inline-block;
    }
    
    .footer-logo-white {
        color: #f4f4fd;
    }
    
    .footer-text {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        margin-bottom: 72px; /* Отступ в 72px */
        
        }
    
    .footer-container-social {
        margin-bottom: 72px; /* Отступ в 72px */
    }
    
    .footer-social-text {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
    }
    
    .footer-icon-list {
        display: flex;
        justify-content: center;
        gap: 16px;
        list-style: none;
        padding: 0; /* Удаление отступов */
        margin: 0; /* Удаление отступов */
    }
    
    .footer-icon-item {
        width: 40px;
        height: 40px;
    }
    
    .footer-icon-link {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #f4f4fd;
        background-color: #4d5ae5;
        width: 100%;
        height: 100%;
    }
    
    .footer-icon-link:hover,
    .footer-icon-link:focus {
        background-color: #31D0AA;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .footer-icon {
        fill: #f4f4fd;
    }
    
    .subscribe-footer {
        margin-bottom: 72px; /* Отступ в 72px */
    }
    
    .subscribe {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
    }
    
    .subscribe-form {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }
    
    .subscribe-input {
        width: 264px;
        height: 40px;
        border: 1px solid #ffffff;
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        color: #ffffff;
    }
    
    input::placeholder {
        color: #ffffff;
    }
    
    .subscribe-button {
        min-width: 165px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4D5AE5;
        border: none;
        border-radius: 4px;
    }
    
    .subscribe-icon {
        margin-left: 8px;
        fill: #fff;
    }



.backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        opacity: 0;
        visibility: hidden;
        position: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
opacity: 1;
visibility: visible;
pointer-events: auto;
}

.modal {
        background-color: #fcfcfc;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        /* width: 408px;
        min-height: 584px; */
        width: 288px;
        min-height: 623px;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 72px 24px 24px 24px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transform: translate(-50%, -50%);
}

.modal-close-btn{
position: absolute;
top: 24px;
right: 24px;
border-radius: 50%;
width: 24px;
height: 24px;
padding: auto;
cursor: pointer;
border: 1px solid stroke: rgba(0, 0, 0, 0.1);
background-color: #e7e9fc;
display: flex;
justify-content: center;
align-items: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
border: 1px solid rgba(0, 0, 0, 0.1); 
padding: 0;
}


.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
  fill: #ffffff;
}

.modal-title {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 16px;
color: #2E2F42;
}

.modal-input {
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 100%;
height: 40px;
display: flex;
padding-left: 38px;
outline: transparent;
background-color: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
        border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
        fill: #4D5AE5;

}

.modal-label {
       display: block;
       margin-bottom: 4px;
       font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99; 
}

.modal-field {
        margin-bottom: 8px;
}
.modal-comment-field {
        margin-bottom: 16px;   
}

.modal-field-wrap {
        position: relative;
}

.modal-icon {
        fill: #2e2f42;
position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-text {
        border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 100%;
height: 120px;
display: flex;
padding: 8px 16px;
outline: transparent;
resize: none;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
background-color: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus {
        border-color: #4d5ae5;
}

.agree-field {
        margin-bottom: 24px;
    }
     
    .user-agree {
        font-size: 12px; 
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    
    .agree-part {
        width: 16px; 
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4); 
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: transparent;
        display: inline-flex; 
        align-items: center; 
        justify-content: center; 
    }
    
    /* .visually-hidden {
    } */
    
    .user-field:checked + .user-agree > .agree-part {
        background-color: #404BBF;
        border: none;
        fill: #F4F4FD;
    }
    
    .text-agree {
        color: #4d5ae5; ;
    }

    .modal-btn {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        display: block;
        border-radius: 4px;
        width: 169px;
        height: 56px;
        background-color: #4d5ae5;
        cursor: pointer;
        border: none;
        margin: 0 auto;
        min-width: 169px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    
    .send-button:hover,
    .send-button:focus {
        fill: #ffffff;
    }
    
    .input:checked + label > span {
        background-color: #404BBF;
        fill: #f4f4fd;
        border: none;
    }




    
    
    @media screen and (min-width:768px) {

        .modal {
        width: 408px;
        min-height: 584px;
        }

        .mob-menu {
                display: none;
        }
        
        .container {
                max-width: 768px;
        }
        .header-menu-list {
                display: flex; 
                gap: 40px;
        }
        .open-menu-btn {
                display: none;
        }
        .contacts-list {
                display: flex;
                flex-direction: column;
                gap: 12px;
        }
        .header-logo {
                margin-right: 120px;
        }
        .header-menu-link {
                display: block;
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                letter-spacing: 0.02em;
                color: #2e2f42;
                padding: 24px 0;
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .header-menu-link:hover,
.header-menu-link:active,
.header-menu-link:focus {
        color: #404bbf;
}

.section-one {
        padding: 112px 0;
}

.title {
        font-size: 56px; 
        line-height: 1.07;
        margin-bottom: 36px;
        max-width: 496px;
}


.team-container {
        width: 584px;
}
.team-list {
        gap: 64px 24px;
}
.team-item {
        width: calc((100% - 64px) / 2); 
}

.contacts { 
        margin-left: auto;
}

.contacts-list-link {
        font-weight: 400;
        /* font-size: 16px; */
        font-size: 12px;
        /* line-height: 1.5; */
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list-link:hover{
        color: #404bbf;
}
.contacts-list-link:focus {
        color: #404bbf;
}

.features-list {
        gap: 72px 24px;
}
.features-sub-title {
        text-align: left;
}
.features-item {
        width: calc((100% - 24px) / 2);
}

.portfolio-list {

        gap: 72px 24px; 
        }
        
        .portfolio-item {
         width: calc((100% - 24px) / 2); 
    }
    .portfolio-picture {
        width: 356px;
        height: 300;
    }
    
    .footer {
        
}
.container {
}
.footer-box {
        display: flex;
        flex-wrap: wrap;
        width: 584px;
        align-items: baseline;
}
.footer-container {
        width: 264px;
}
.footer-it {
}
.footer-logo {
}
.footer-logo-white {
}
.footer-text {


}
.footer-container-social {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
}
.footer-social-text {
        margin-bottom: 16px;
}
.footer-icon-list {
}
.footer-icon-item {
}
.footer-icon-link {
}
.footer-icon {
}
.subscribe-footer {
}
.subscribe {
}
.subscribe-form {
}
.subscribe-email {
}
.subscribe-input {
}
.subscribe-button {
}
.subscribe-icon {
}
.subscribe-wrap {
}




    

    @media screen and (min-width:1158px) {
        .container {
                max-width: 1158px;
                padding: 0 15px;
        }
        .contacts-list {
                flex-direction: row;
                gap: 40px;
        }
        .header-logo {
                margin-right: 76px; 
        }
        .contacts-list-link {
                font-size: 16px; 
                line-height: 1.5; 
        }

        .section-one {
                padding: 188px 0;
        }
        
        .title {
                font-size: 56px; 
                line-height: 1.07;
                margin-bottom: 48px;
                max-width: 496px;
        }

        .team {
                padding: 120px 0 120px; 
                }

        .team-container {
                width: 1158px;
        }
        .team-list {
                flex-wrap: nowrap;
                gap: 24px;     
        }
        .team-item {
                width: calc((100% - 72px) / 4);
        }

        .section-features {
                padding-top: 120px;
                padding-bottom: 120px; 
                }
                .features-list {
                gap: 24px;
                        }
        .features-icon {
                fill: #2e2f42;
                display: flex;
                margin-bottom: 8px;
                border: 1px solid #8e8f99;
                border-radius: 4px;
                width: 264px;
                height: 112px;
                justify-content: center;
                align-items: center;
                background-color: #f4f4fd;
        }
        .features-sub-title {
                font-weight: 500;
                font-size: 20px;
                line-height: 1.2;              
        }
        .features-text{
                font-weight: 400;
        }
        .features-item {
                width: calc((100% - 3 * 24px) / 4); 
        }

        .portfolio-list {

                gap: 48px 24px; 
                }
                
                .portfolio-item {
                width: calc((100% - 48px) / 3); 
            }
            .portfolio-picture {
                width: 360px;
        height: 300px;
            }
            .footer {
                padding: 100px 0;       
    }
}



.backdrop-menu {
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
          visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: fixed;
        top: 0;
        /* тут початок сховати */
        opacity: 0;
        pointer-events: none;
      }
      
      .backdrop-menu.is-open {
        opacity: 1;
        pointer-events: auto;
      }
      /* тут кінець схованки */
      
      .modal-menu-w {
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
          0 2px 1px 0 rgba(0, 0, 0, 0.2);
        background: #fcfcfc;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 72px 24px 24px 24px;
      
        display: flex;
        flex-direction: column;
      }
      
      .menu-wrapper-adr-icon-w {
        margin-top: auto;
      }
      
      .modal-close-menu-w {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 24px;
        right: 24px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        display: block;
        margin-left: auto;
        background: #e7e9fc;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
          border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      
      .modal-close-menu-w:hover {
        background: #404bbf;
        border: none;
      }
      
      .modal-close-menu-w:focus {
        background: #404bbf;
        border: none;
      }
      
      .modal-close-menu-w:hover > .modal-close-image-w {
        fill: #ffffff;
      }
      
      .modal-close-menu-w:focus > .modal-close-image-w {
        fill: #ffffff;
      }
      
      .modal-close-image-menu-w {
        display: flex;
        fill: #2e2f42;
        margin: 0 auto;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .modal-close-image-menu-w:hover {
        fill: #ffffff;
      }
      
      .modal-close-image-menu-w:focus {
        fill: #ffffff;
      }
      
      .mobil-menu-w {
        display: flex;
        gap: 40px;
        flex-direction: column;
      }
      
      .mobil-menu-list-a-w {
        font-weight: 500;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: #2e2f42;
      
        display: block;
        display: flex;
        justify-content: start;
        align-items: end;
      }
      
      .current-w {
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      
      .mobil-menu-list-a-w:hover {
        color: #404bbf;
      }
      
      .mobil-menu-list-a-w:focus {
        color: #404bbf;
      }
      
      .mobil-menu-list-a-w:active {
        color: #404bbf;
      }
      
      .menu-wrapper-adr-icon-w .menu-address {
        display: block;
      }
      
      .menu-address-list-w {
        display: flex;
        gap: 24px;
        flex-direction: column;
        /* margin-top: 168px; */
      }
      
      .menu-address-list-contact-a-w {
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-style: normal;
      }
      
      .menu-tel-w {
        color: #4d5ae5;
      }
      
      .menu-address-list-contact-a-w:hover {
        color: #404bbf;
      }
      
      .menu-address-list-contact-a-w:focus {
        color: #404bbf;
      }
      
      .menu-icon-w {
        width: 280px;
        height: 40px;
        margin-top: 40px;
      }
      
      .menu-list-icon-w {
        display: flex;
        gap: 40px;
      }
      .menu-part-icon-w {
        width: 40px;
        height: 40px;
      }
      .menu-part-a-w {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #4d5ae5;
        width: 100%;
        height: 100%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      
      .menu-part-a-w:hover {
        background-color: #31d0aa;
      }
      
      .menu-part-a-w:focus {
        background-color: #31d0aa;
      }
      
      .menu-icon-image-w {
        fill: #f4f4fd;
      }
    }
